@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body .body1{
    background-color: #2E67F8;
}

.Top-Profilepage
{
    text-align: left; 
    margin-left: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Text-top-profile
{
    padding-top: 10px;
    font-family: 'Mitr', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color:white;
}

.Supermain-Profilepage
{
    background-color: white;
    width: 100%;
    height: 700px;
    text-align: center;
}
.Box-Main-Profilepage
{
    display: inline-flex;
    margin: 60px 90px 0px;
    /* background-color: white; */
    /* width: 100%;
    height: 800px; */
}

.bttn-edit-HetelDT{
    background-color: #2E67F8 ;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 300px;
    display: inline-block;
    font-size: 25px;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    color: white;
    transition-duration: 0.4s;
    margin-top: 40px;
}

.bttn-edit-HetelDT:hover{
    background-color: #5B81FF;
}

    
.bttn-edit-HetelDT:active:after{
    background-color: #F8F8F8 ;
    border: 1px solid #2E67F8;
}